body {
  background-image:url(/images/cinema.jpg);
  background-repeat:no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  text-decoration:none;
}
h1 {
  font-size: 90px;
  color: white;
  margin-bottom: 20px;
}
#container {
  width:20%;
  margin-left: 59%;

}
button {
  width: 220px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  box-shadow: inset;
}
